---
title: 三木市志染の脳トレとパソコン教室のパソノワ | トップ
og_type: website
description: 三木市志染駅前 脳トレとパソコン教室のパソノワです。認知症予防のための脳のトレーニング、『みつおか式脳若トレーニング』が受講できるパソコン教室です。
---

/! Banner
section#banner
  .content
    header
      p 脳トレ・パソコン教室の
      h1.pasonowa パソノワ
    p 2017年 1月オープン予定！！
    p 三木市 志染駅前 サンテラス志染3Fにあるパソコン教室です。
    / ul.actions
      li
        a.button.big href="#"  Learn More
  span.image.object
    = image_tag 'top.jpg'
/! Section
section
  header.major
    h2 パソノワの特徴
  .posts
    article
      /a.image href="nouwaka.html"
        = image_tag "pic01.jpg"
      h3 脳若トレーニング
      p
        | 本校では
        a href="http://nouwaka.com" target="_blank" 「みつおか式脳若トレーニング」
        | を導入しており、認知症予防のトレーニングが受講できます。
      ul.actions
        li
          a.button href="nouwaka.html"  もっと詳しく
    article
      /a.image href="school.html#communication"
        = image_tag "pic01.jpg"
      h3 コミュニケーション重視
      p 映像授業を利用せず、インストラクターが積極的にお声がけ致します。
      ul.actions
        li
          a.button href="school.html#communication"  もっと詳しく
    article
      /a.image href="school.html#cafe-space"
        = image_tag "pic01.jpg"
      h3 カフェスペース併設
      p 教室内にカフェスペースを併設しております。授業終了後にみなさんで楽しくお話して下さい。
      ul.actions
        li
          a.button href="school.html#cafe-space"  もっと詳しく
    article
      /a.image href="school.html#many-cource"
        = image_tag "pic01.jpg"
      h3 豊富な講座
      p  パソコンは全く初めてという方から、仕事で活用したい、趣味で楽しみたいという方まで、たくさんの講座を用意しています。
      ul.actions
        li
          a.button href="school.html#many-cource"  もっと詳しく
    article
      /a.image href="price.html"
        = image_tag "pic01.jpg"
      h3 通い続けられる価格
      p 週1回のコースから毎日通うコースまで、いくつかの価格のコース準備しております。ご自身の生活スタイルにあったコースを選んで通い続けられるようにしております。
      ul.actions
        li
          a.button href="price.html"  もっと詳しく
    article
      /a.image href="instructor.html"
        = image_tag "pic01.jpg"
      h3 笑顔のインストラクター
      p 経験豊富なインストラクターが毎日笑顔で皆様をお迎えいたします。
      ul.actions
        li
          a.button href="instructor.html"  もっと詳しく