/! Content
section
  header.main
    h1 脳若トレーニング
  h2.article-header 紹介動画
  .youtube
    iframe width="560" height="315" src="https://www.youtube.com/embed/z21EV4sHw_Y" frameborder="0" allowfullscreen="true"

  hr.major

  h2.article-header 脳若トレーニングとは
  ul.alt
    li iPad（アイパッド）による楽しい認知機能向上講座です。
    li 視覚・聴覚及び指先からの刺激で脳を活性化します。
    li 教室が保有してるiPadを使って受講していただきますので、iPadをお持ちでない方も安心して受講いただけます。

  h2.article-header 講座の内容
  p
    | 1回の講座で下記のようなトレーニングを実施します。
    br
    | これ以外にも100種類以上のメニューを組み合わせてトレーニングを行います。
    br
    | また、メニューは毎月追加され、長く受講されている方にも同じトレーニングにならないようなっています。

  .row.trainning-menu
    div class="4u 12u$(small)"
      h3 記憶トレーニング
      p 記憶力を鍛えます。楽しい問題が脳を活性化します。
    div class="4u 12u$(small)"
      h3 BB体操
      p 脳（Brain）と身体（Body）を組み合わせた体操で、イキイキ・ハツラツ。
    div class="4u 12u$(small)"
      h3 iPad使いこなし
      p おもしろアプリやインターネットを楽しみましょう。
    div class="4u 12u$(small)"
      h3 回想タイム
      p タイムスリップして、あの頃の気持ちに戻ります。
    div class="4u 12u$(small)"
      h3 コミュニケーション・ワーク
      p 全員で楽しむトレーニングコミュニケーション力が試されます。
    div class="4u 12u$(small)"
      h3 リラックス運動
      p 講座の最後はヨガをイメージしたゆっくり体操で締めくくります。

  h2.article-header 脳若トレーニングの科学的根拠について
  p
    | 脳若トレーニングで得られる効果を実証するためのプロジェクトを実施し、2014年応用老年学会・2015年認知症予防学会でそれぞれ「短期記憶の向上・維持」「認知症に及ぼす効果」について発表しました。
      現在は、九州大学と共同研究を行っており、さらなる検証が行われています。
    br
    | 詳しくは下記のリンクを御覧ください。

  ul
    li
      a href="http://kaigo-yobo.com/nouwaka-training/evidence/"
        | みつおか式 脳若トレーニング エビデンス（科学的根拠）について
    li
      a href="http://nouwaka.com/effect"
        | 認知症予防の重要性
    li
      a href="http://nouwaka.com/effect/evidence"
        | エビデンス・プロジェクト
    li
      a href="http://nouwaka.com/effect/joint"
        | 九州大学との共同研究

  h2.article-header 出張講座について
  p
    | パソノワでは、自治体様や介護施設様向けに、脳若トレーニングの出張講座を受け付けております。
    br
    | お気軽にお問い合わせ下さい。

