---
title: 三木市志染の脳トレとパソコン教室のパソノワ | 料金・時間割
og_type: article
---

/! Content
section
  header.main
    h1 料金・時間割
  h2.article-header 料金
  .row
    div class="4u 12u$(small) price-box"
      h3.header
        | パソコン
        br
        | のんびりコース
      p.count
        span.segment 月4コマ
      p.price
        span 5,800
        | 円（税別）

    div class="4u 12u$(small) price-box price-box-recommend"
      h3.header
        | パソコン
        br
        | おすすめコース
      p.count
        span.segment 月8コマ
      p.price
        span 9,800
        | 円（税別）

    div class="4u 12u$(small) price-box"
      h3.header
        | パソコン
        br
        | たっぷりコース
      p.count
        span.segment 毎日1コマ
      p.price
        span 16,000
        | 円（税別）
      p.message 1日1コマ通い放題のコース
  .row
    p.text-price パソコンコースを受講される場合は、カリキュラムに応じたテキスト代が別途必要になります。

  hr.major
  .row
    div class="6u 12u$(small) price-box nouwaka"
      h3.header
        | 脳トレ
        br
        | のんびりコース
      p.count
        span.segment 月2コマ
      p.price
        span 4,000
        | 円（税別）

    div class="6u 12u$(small) price-box price-box-recommend nouwaka"
      h3.header
        | 脳トレ
        br
        | おすすめコース
      p.count
        span.segment 月4コマ
      p.price
        span 5,800
        | 円（税別）

  hr.major

  h4 その他諸経費
  table
    tr
      th 入会金
      td 5,000円（税別）
    tr
      th テキスト代（パソコンコースのみ）
      td カリキュラムによって異なります。

  hr.major

  h2.article-header 時間割
  table
    thead
      tr
        th 時間帯
        th 日
        th 月
        th 火
        th 水
        th 木
        th 金
        th 土
    tbody
      tr
        td 9:00 〜 9:50
        td
        td ○
        td ○
        td ○
        td ○
        td ○
        td
      tr
        td 10:00 〜 10:50
        td
        td ○
        td ○
        td ○
        td ○
        td ○
        td
      tr
        td 11:00 〜 11:50
        td
        td ○
        td ○
        td ○
        td ○
        td ○
        td
      tr
        td 12:00 〜 13:00
        td colspan="7" class="lunchtime" お昼休み
      tr
        td 13:00 〜 13:50
        td
        td ○
        td ○
        td ○
        td ○
        td ○
        td
      tr
        td 14:00 〜 14:50
        td
        td ○
        td ○
        td ○
        td ○
        td ○
        td
      tr
        td 15:00 〜 15:50
        td
        td ○
        td ○
        td ○
        td ○
        td ○
        td

