---
title: 三木市志染の脳トレとパソコン教室のパソノワ | ロボット教室
og_type: article
description: 脳トレとパソコン教室のパソノワは、パソコン教室でのパソコンの操作等の受講の他に、認知症予防のためのトレーニング、『みつおか式脳若トレーニング』が受講できる脳若ステーションです。
---
/! Content
section
  header.main
    h1 ロボット教室
  h2.article-header 紹介動画
  .youtube
    iframe width="560" height="315" src="https://www.youtube.com/embed/krGDO_hxigY" frameborder="0" allowfullscreen="true"

  hr.major

  h2.article-header ロボット教室とは
  p
    | 自ら考え、自ら学ぶ子どもたちを育てる教育を提供。
    br
    | 手を動かし、頭をはたらかせ
    br
    | イメージしたものをカタチにする
    br
    | オリジナル教材のロボットを作ることで
    br
    | 子どもの個性を引き出し、想像力を育みます。
    br
    | また「理科の知識」も自然と身についていきます。


  h2.article-header 身につく能力
  .row.trainning-menu
    div class="12u"
      h3 ブロック × 手作業で、発想力が育つ
      p ロボット教室のロボットはブロックで組み立てます。ブロックに触れながら試行錯誤し考える、という行為はアイデアが生まれやすく発想力が身につきます。
    div class="12u"
      h3 空間認識能力がつく
      p ブロックを組み合わせながら、どんな作り方をしようかと考えるうちに、頭の中で立体物が自由にイメージできるように。この能力は、こどもの頃にしか養えないといわれています。
    div class="12u"
      h3 クリエイティブを生み出す感性を伸ばす
      p ブロックを使いイメージをカタチにすることは、モノを生み出すこと。この時期の子ども特有の豊かな想像や自由な感性を表現できる喜びに、子ども自身が夢中になります。
    div class="12u"
      h3 力学、動力の仕組みを体感として学ぶ
      p ギアやモーターといった動力の仕組み、さらに「てこの原理」や「摩擦の力」といった理科の知識を、自分が作りたいロボットを通して体感しながら学ぶことができます。
    div class="12u"
      h3 プログラミング的思考が身につく
      p アドバンスプログラミングコースでは、小学校で必修化される「プログラミング的思考」を養うことができます。プログラミングによって、より自立的で賢いロボットを作り上げ、それを動かす体験を通じて、学びに向かう力・考える力が身につきます。
