---
title: 三木市志染の脳トレとパソコン教室のパソノワ | 教室の想い
og_type: article
description: 脳トレとパソコン教室のパソノワは、3つの想い「みんなで繋がり楽しく」「やりたいことをやり」「低価格で通いやすい」をもとに、皆様に長く楽しんでいただけるよう頑張ります。
---

/! Content
section
  header.main
    h1 教室の想い
  p
    = image_tag 'instructor.png', class: 'image right'
    | 8年間大手のパソコン教室でインストラクター、教室長を経験し、パソコンの楽しさを生徒さんに伝えてきました。
    br
    | パソコン教室でしっかりお勉強されると、皆さん本当にパソコンを楽しんでいただけるのですが、その後ご卒業されてお会いすると、「最近使ってなくて、もう忘れちゃったわ…」「ちょっと聞きたくても一度卒業してしまうと行きにくくて・・・。」という声が…((+_+))
    br
    | 確かにパソコンは進化し続けています。久しぶりに使おうとすると見たことないメッセージが出て、怖くて消してしまった…という経験をされた方も多いのではないでしょうか？
    br
    | どうしたらもっと多くの人にパソコンを長く楽しんでもらえるのだろう・・・。
    br
    | と考えて、行きついた答えが「みんなとの繋がりがあり楽しい」「やりたいことができる」「低価格で通いやすい」の3つのポイントでした。
    br
    | これらを実現するために、「脳トレとパソコン教室のパソノワ」をオープンさせていただきました。
    br
    | 気軽に通っていただき、パソコンの楽しさを見つけていただきたいと思っています。パソコン初めての方もご安心ください。「同じことを100回聞かれても笑顔でお答えいたします♪」をモットーに、笑顔で丁寧な対応を心がけています。
    br
    | 教室に来たら元気になったわ～と言っていただけるような、笑顔いっぱいの教室にしていきますので、皆様ぜひお越し下さい。お待ちしております。
    br
  p.signature 大礼 有里