---
title: 三木市志染の脳トレとパソコン教室のパソノワ | スタッフ
og_type: article
---

/! Content
section
  header.main
    h1 スタッフ
  h2.article-header 大礼有里
  p
    = image_tag 'instructor.png', class: 'image right'
    | 「来たときよりも元気になって帰っていただく教室」を目指しています！
    br
    | 教室は３Fですが、少し足を延ばしてのぞきに来てください～お待ちしております(*^^*)
    br
    | 一緒に楽しみましょう♪

  hr.major
  h3 保有資格
  dl
    dt Microsoft Office Specialist 2013
    dd
      ul
        li Word
        li Excel
    dt Microsoft Office Specialist 2010 Master
    dd
      ul
        li Word
        li Excel
        li PowerPoint
        li Access
    dt Microsoft Office Specialist 2007 Master
    dd
      ul
        li Word
        li Excel
        li PowerPoint
        li Access
    dt Microsoft Office Specialist 2003 Master
    dd
      ul
        li Word
        li Excel
        li PowerPoint
        li Access
    dt その他
    dd
      ul
        li パソコン検定 2級
        li 日商簿記 3級